<section class="aboutus">
    <div class="aboutus__inner">
        <div class="aboutus__blockleft">
            <h1 class="aboutus__head">О нас</h1>
            <h2 class="aboutus__dephead">Производство имущества для ЗС ГО и гражданской обороны</h2>
            <p class="aboutus__p">Наша компания с 2018 года являемся производителем
                металлических нар для защитных сооружений (бомбоубежищ).
                Мы производим нары металлические, сборно-разборные, двухъярусные,
                трехъярусные, односторонние, двухсторонние.
                Имеем возможность производства нар по индивидуальным размерам и чертежам.</p>
        </div>
        <div class="aboutus__blockright">
            <iframe width="100%" height="100%"
                src="https://www.youtube.com/embed/pyZf7PQPPJ0?controls=0&mute=1&autoplay=1&loop=1"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </div>
</section>