<section class="conditions">
    <div class="conditions__inner">
        <div class="conditions__blockleft">
            <h1 class="conditions__head">Условия</h1>
            <h5 class="conditions__dephead">Условия поставки</h5>
            <hr>
            <ul class="conditions__info">
                <li><strong>Срок производства</strong> нар от 10 рабочих дней (зависит от количества заказа,
                    а также от загруженности производства)</li>
                <li><strong>Условия оплаты</strong> — 100% предоплата.</li>
                <li><strong>Доставка</strong> до Транспортной компании <strong>БЕСПЛАТНО</strong>,
                    доставка до адреса рассчитывается отдельно.</li>
                <li>Срок просчёта стоимости нар 1-3 рабочих дня,
                    по индивидуальным размерам 2-5 рабочих дней.</li>
                <li>Все материалы, применяемые для изготовления,
                    удовлетворяют требованиям чертежей, действующих стандартов,
                    технических условий,
                    СП 88.13330.2014 от 01 июня 2014 года.</li>
                <li>Качество изделия соответствует требованиям,
                    предусмотренным ТР ТС 025/2012 «О безопасности мебельной продукции»
                    от 15 июня 2012 года,
                    а также законодательством Российской Федерации.</li>
                <li>Нары для защитных сооружений предназначаются для размещения на них людей:
                    нижний ярус для сидения 4-х человек, верхние — для лежания,
                    по одному человеку на каждом ярусе.
                    В мирное время нары используются в качестве стеллажей.</li>
            </ul>
        </div>
        <div class="conditions__blockright">
            <img src="./images/slider1.jpg" width="100%" height="100%" alt="nary">
        </div>
    </div>
</section>