<section class="contacts">
    <div class="contacts__inner">
        <div class="contacts__blockleft">
            <h1 class="contacts__head">Контакты</h1>
            <p class="contacts__p">По всем вопросам, связанным с
                приобретением нашей продукции, а также по
                техническим вопросам, Вы можете воспользоваться
                следующими контактами:</p>
            <div class="contacts__info">
                <div class="contacts__input">
                    <h5>Email</h5>
                    <hr>
                    <span>info@go112.ru</span>
                </div>
                <div class="contacts__input">
                    <h5>Телефон</h5>
                    <hr>
                    <span>+ 7 (925) 891-07-09</span>
                </div>
                <div class="contacts__input">
                    <h5>Адрес</h5>
                    <hr>
                    <span>Московская обл., Красногорский р-н, р.п. Нахабино, ул. Институская 18</span>
                </div>
            </div>
        </div>
        <div class="contacts__blockright">
            <iframe
                src="https://yandex.ru/map-widget/v1/?um=constructor%3A3bcbd941f64997038b95d035dbf2882a93cee0e860ef9a48ed5a4bbded762f76&amp;source=constructor"
                width="100%" height="100%" frameborder="0"></iframe>
        </div>
    </div>
</section>